<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>小米商城网站管理系统</title>
<link href="<?=ADMIN_CSS?>public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?=ADMIN_JS?>jquery.min.js"></script>
<script type="text/javascript" src="<?=ADMIN_JS?>global.js"></script>
</head>
<body>
<div id="dcMain1"> 
<div id="urHere">小米商城 管理中心</div>  <div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">
   <h3>
    <a href="index.php?c=category&a=index&pid=<?php echo $ppid ?>" class="actionBtn">返回列表</a>
    <a style='margin-right: 20px;' href="index.php?c=category&a=maxadd" class="actionBtn">添加顶级分类</a>
    
    <!-- <a href="index.php?c=user&a=adduser" class="actionBtn">添加用户</a> -->
    分类目录管理
  </h3>  
  <form style='margin-bottom: 15px' method="get" action="./index.php">
      <input type="hidden" name="c" value="category">
      <input type="hidden" name="a" value="index">

      <span style='font-size: 16px;font-weight: 700;color: #757575;height: 20px;line-height: 20px;'>按分类目录名称搜索：</span>
      <input style='border:1px solid #e0e0e0;width: 100px;height: 20px;' type="text" name="n" value="<?php echo empty($_GET['n'])?'':$_GET['n']; ?>" class="text-word">
      <input type="submit" value="查询" class="text-but" style="background-color: #ff6700;color:#fff;width: 50px;height: 20px;">
  </form>

   <div class="indexBox">
    
    
     <table width="100%" border="0" cellspacing="0" cellpadding="6" class="tableBasic">
      <tr>
       <th width="50" >序号</th>
       <th width="18%">分类名称</th>
       <th width="18%">父目录</th>
       <th width="18%">分类路径</th>
       <th width="18%">是否显示</th>
       <th width="25%">操作</th>
      </tr>
      
      <?php if (empty($list)): ?>
                    <tr>
                        <td colspan="6" align="center">
                            暂无数据
                        </td>
                    </tr>
      <?php else: ?>
              
        <?php foreach ($list as $key => $value): ?>
          <tr>
         <td align="center"> <?=$value['id']?></td>
         <td align="center"> <?=$value['cname']?></td>
         <?php 
            // 根据PID查出父级的名称
            $pname = $this->getPname($value['pid']);
            // var_dump($pname);
         ?>
         <td align="center">
            <?php 
              echo empty($pname)?'无':$pname;
            ?>
         </td>
         <td align="center"> <?=$value['path']?></td>
         <td align="center"> <?=$value['display']?> </td>
         <td align="center"> 
          <a href="index.php?c=category&a=index&pid=<?=$value['id']?>">查看子目录</a> |
          <a href="index.php?c=category&a=addcategory&pid=<?=$value['id']?>&path=<?= $value['path'] ?>&$cname=<?=$value['cname']?>">添加子目录</a> |
         <a href="index.php?c=category&a=editcategory&pid=<?=$value['id']?>">编辑</a> |
         <a href="javascript:if(confirm('是否删除该信息?'))location='index.php?c=category&a=del&id=<?= $value['id'] ?>&pid=<?= $value['pid'] ?>&path=<?= $value['path'] ?>';">删除</a> </td>
        </tr>
          
        <?php endforeach ?>
      <?php endif ?>
          
      
           </table>
    
   </div>
   <div class="page">
    <?php echo $page->show() ?> 
    </div>
  </div>  
  </div>
  </body>
  </html>