<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>管理中心 - 系统设置 </title>
<link href="css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery.tab.js"></script>
</head>
<body>
<div id="dcWrap">
 
 <div id="dcMain1">
   <!-- 当前位置 -->
<div id="urHere">管理中心<b>></b><strong>系统设置</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3>系统设置</h3>
    
    <div class="idTabs">      
      <div class="items">
       <form action="system.php?rec=update" method="post" enctype="multipart/form-data">
        <div id="main">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
         <tr>
           <th width="131">名称</th>
           <th>内容</th>
         </tr>
                  <tr>
          <td align="right">站点名称</td>
          <td>
                      <input type="text" name="site_name" value="启航纺织网站管理系统" size="80" class="inpMain" />
                                </td>
         </tr>
                  <tr>
          <td align="right">公司名称</td>
          <td>
                      <input type="text" name="company" value="启航纺织有限公司" size="80" class="inpMain" />
                                </td>
         </tr>
                  <tr>
          <td align="right">公司地址</td>
          <td>
                      <input type="text" name="site_address" value="浙江省绍兴市" size="80" class="inpMain" />
                                </td>
         </tr>
                  <tr>
          <td align="right">站点地址</td>
          <td>
                      <input type="text" name="site_url" value="http://www.qihang.com" size="80" class="inpMain" />
                                </td>
         </tr>                  
                  <tr>
          <td align="right">站点标志</td>
          <td>
                      <input type="file" name="site_logo" size="18" />
           <a href="images/logo.png" target="_blank"><img src="images/logo.png" width="100" height="70"></a>                                </td>
         </tr>
                                   
                  <tr>
          <td align="right">ICP备案证书号</td>
          <td>
                      <input type="text" name="icp" value="88888888" size="80" class="inpMain" />
                                </td>
         </tr>
                  <tr>
          <td align="right">ICP地址</td>
          <td>
                      <input type="text" name="icp_url" value="http://myicp.com" size="80" class="inpMain" />
                                </td>
         </tr>
                  <tr>
          <td align="right">电话</td>
          <td>
                      <input type="text" name="tel" value="0557-8888888" size="80" class="inpMain" />
                                </td>
         </tr>
                  <tr>
          <td align="right">传真</td>
          <td>
                      <input type="text" name="fax" value="0575-6666666" size="80" class="inpMain" />
                                </td>
         </tr>    
                   <tr>
          <td align="right">邮编</td>
          <td>
                      <input type="text" name="spost" value="312000" size="80" class="inpMain" />
                                </td>
         </tr>              
                  <tr>
          <td align="right">邮件地址</td>
          <td>
                      <input type="text" name="email" value="your@domain.com" size="80" class="inpMain" />
                                </td>
         </tr>
                  <tr>
          <td align="right">技术支持</td>
          <td>
                      <input type="text" name="instructor" value="绍兴职业技术学院" size="80" class="inpMain" />
                                </td>
         </tr>
                  <tr>
          <td align="right">版权</td>
          <td>
                      <input type="text" name="copyright" value="启航纺织有限公司" size="80" class="inpMain" />
                                 </td>
         </tr>
                  
                 </table>
        </div>
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
         <tr>
          <td width="131"></td>
          <td>
           <input type="hidden" name="token" value="24760807" />
           <input name="submit" class="btn" type="submit" value="提交" />
          </td>
         </tr>
        </table>
        </form>
      </div>
    </div>
   </div>
 </div>
</div>
</body>
</html>