//设置主题的样式
.bodys{
  width: 980px;
  margin: 0 auto;
  height: 100%;
}
.app_list .app .list .L1 a {
  margin-right: 7px;
}
.head_list .more_text .more_list {
  width: 1000px;
}
.head_list .nav-item {
  width: 54px;
}