/*导航栏*/
.nav{
    background: linear-gradient(to left, #7b4397, #2196f3);
    height: 35px;
    margin-bottom: 50px;
}
/*导航栏标题*/
.nav .nav-title{
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    margin-left: 50px;
}
/*基础配置每一行*/
.config-line{
    height: 50px;
}
.config-line:nth-of-type(2n){
    background-color: #fff;
}

/*每一行最左边的*/
.config-line .line-key{
    display: inline-block;
    width: 20%;
    text-align: right;
    line-height: 50px;
}

/*a  upload */
.config-line-file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.config-line-file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.config-line-file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

/*文件选择框*/
.config-line input[type="file"]{
    margin:5px 20px;
    width: 340px;
    padding: 0 25px;
    height: 40px;
    border: 1px solid #f2f2f2;
    background: #fff;
    color: #202124;
    font-size: 14px;
    line-height: 48px;
    border-radius: 25px;
}

/*文本选择框*/
.config-line input[type="text"]{
    margin:5px 20px;
    width: 340px;
    padding: 0 25px;
    height: 40px;
    border: 1px solid #f2f2f2;
    background: #fff;
    color: #202124;
    font-size: 14px;
    line-height: 48px;
    border-radius: 25px;
}

.config-line input[type="date"]{
    margin:5px 20px;
    width: 340px;
    padding: 0 25px;
    height: 40px;
    border: 1px solid #f2f2f2;
    background: #fff;
    color: #202124;
    font-size: 14px;
    line-height: 48px;
    border-radius: 25px;
}


/*文本选择框*/
.config-line input[type="number"]{
    margin:5px 20px;
    width: 340px;
    padding: 0 25px;
    height: 40px;
    border: 1px solid #f2f2f2;
    background: #fff;
    color: #202124;
    font-size: 14px;
    line-height: 48px;
    border-radius: 25px;
}

.config-line select{
    margin:5px 20px;
    width: 340px;
    padding: 0 25px;
    height: 40px;
    border: 1px solid #f2f2f2;
    background: #fff;
    color: #202124;
    font-size: 14px;
    line-height: 48px;
    border-radius: 25px;
}

/*最右边提示*/
.line-tip{
    color: #777;

}

.config-bottom{
    padding-top: 50px;
    text-align: center;
}
.config-bottom .submit{
    width: 260px;
    height: 40px;
}

.config-bottom .submit:nth-of-type(2n+1){
    position: relative;
    left: -100px;
    background-color: deepskyblue;
}
.bg-red{
    color: red;
}
.website_list_table{
    margin: 0 auto;
}
.add_module_iframe{
    width: 60%;
    display: none;
}
