.btn {
    background-color: #ff7f00;
    color: #fff;
    border: none;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.45rem;
    padding: 0.3rem 0.65rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}
.paginationBox {
    margin-top: 0.8rem;
    height: 1.3rem;
}
.row2:before, .row2:after {
    content: " ";
    display: table;
}
.paginationBox .left {
    display: none;
}
.pagination {
    width: auto;
    margin-left: -0.44rem;
    float: none;
}
.pagination > li {
    display: inline;
}
.pagination > li > a {
    padding: .04rem .24rem;
    line-height: 1.42857143;
    margin-left: 0.2rem;
    font-size: 0.65rem;
}
.pagination > li.active > a {
    border: 1px solid #dddddd;
    background-color: #2199ee;
    color: #fff;
}
.title_b {
    height: 1.2rem;
    line-height: .1rem;
}
.product .pd_tell .pd_cont_l .pd_imgs {
    margin: -8px 0 0;
    padding-top: 0;
    margin-bottom: 1rem;
}
.calculator {
	margin-top:2.1rem;
}
.calculator .counter_calt .counter_tip {
    width: 33.33%;
    font-size: .59rem;
    line-height: 1.2;
    font-weight:500;
    color:rgba(102,102,102,1);
    text-align: center;
    cursor: pointer;
    
}
.edge .edge_back {
	border-bottom:none;
	
}
.calculator .counter_calt {
	width:100%;
	border-bottom:1px solid rgba(230,230,230,1);
}
.calculator .counter_calt .counter_tip span {
	display:inline-block;
	padding:.53rem 0;
}
.calculator .counter_calt .counter_tip.active span {
	color:rgba(24,144,255,1);
	border-bottom:3px solid rgba(24,144,255,1);
}
.calculator .counter_calb .counter_det {
	display:none;
}
.calculator .counter_calb .counter_det.active {
	display:block;
}
.counter_calb .counter_det_1 li {
	border-bottom:1px solid rgba(230,230,230,1);
	position:relative;
	padding:0 1rem;
	overflow:hidden;
	position:relative;
}
.counter_calb .counter_det_1 li > span {
	display:inline-block;
}
.counter_calb .counter_det_1 li .cal_span {
	font-size:.63rem;
	color:rgba(51,51,51,1);
	padding:.6rem 0;
}

.counter_calb .counter_det_1 li input {
	padding:.2rem;
	border:none;
	width:64%;
	font-size:.63rem;
	color:rgba(51,51,51,1);
}
.counter_calb .counter_det_1 li.li_mar input {
	margin-left:.6rem;
}
.counter_calb .counter_det_1 li input::-webkit-input-placeholder {
    /* placeholder颜色  */
   color:rgba(153,153,153,1);
    /* placeholder字体大小  */
   font-size:.63rem;
    /* placeholder位置  */
   text-align: left;
}
/* .counter_calb .counter_det_1 li input.pay_t {
    width: 75%;
    margin-left: .85rem;
    margin-top: .5rem;
} */
.counter_calb .counter_det_1 li .pay_currency {
  color:rgba(51,51,51,1);
  font-size:.51rem;
  padding: .6rem 0;
  float: right;
}
.counter_calb .counter_det_1 li .pay_currency img {
	width:.23rem;
	margin-left:.9rem;
}
/* .counter_calb .counter_det_1 li .pay_suss{
    position: absolute;
    right: 1.2rem;
    top: .1rem;
    pointer-events: none;
} */
.counter_calb .counter_det_1 li.li_last {
	border-bottom:none;
	text-align:center;
}
.showD {
 color: #666;
 margin-top: -2.5rem;
}
.showD .news_title {
    margin-bottom: 8px;
}
.showD h2 {
    line-height: 1.6;
    font-size: 1rem;
}
.showD p {
    width: 100%;
    overflow: hidden;
    line-height: 1.4;
    margin-bottom: .2rem;
    font-size: .4rem !important;
}
.calculate {
	font-family:PingFang-SC-Medium;
	display:inline-block;
	text-align:center;
	width:100%;
	height:1.74rem;
	line-height:1.74rem;
	color:#fff !important;
	background-color:rgba(24,144,255,1);
	border-radius:.13rem;
	letter-spacing:.1rem;
	margin:1rem 0;
	font-size:.76rem !important;
}
.counter_calb .counter_det_1 li.li_last1 input::-webkit-input-placeholder {
    /* placeholder颜色  */
   color:rgba(51,51,51,1);
}
.counter_dets {
	margin-top:1.04rem;
    padding: 0 1rem;
}
.counter_det_2 li {
	border-bottom:1px solid rgba(230,230,230,1);
}
.counter_det_2 li:last-child {
	border-bottom:none;
}
.counter_det_2 li p {
    font-size: .63rem;
    color: rgba(51,51,51,1);
    padding: .6rem 0;
}
.counter_det_2 li p > b {
	font-size:.76rem;
	font-weight:600;
    color:rgba(24,144,254,1);
    position:relative;
    bottom:-0.1rem;
    margin-left: .2rem;
}
.counter_det_2 li p > b.bbs {
   margin-left: .84rem;
}
.counter_det_2 li p > span {
	color: rgba(51,51,51,1);
    font-size: .51rem;
    float:right;
    position: relative;
    bottom: -0.2rem;
}
.counter_dets .c_total_3 {
	font-weight:500;
    color:rgba(153,153,153,1);
    font-size:.42rem;
}
.cal_det li > span {
	font-weight:500;
    color:rgba(153,153,153,1);
    font-size:.42rem;
}
.cal_det {
	padding: 0 1rem;
}
.cal_det li > a {
	margin:0.1rem 0;
	font-weight:500;
    color:rgba(24,144,255,1);
    font-size:.51rem;
}
#tchu {
	display:none;
}
.t_gray {
	background-color:rgba(0,0,0,.58);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10;
}
.tach {
	max-width:750px;
	width:100%;
	position:fixed;
	bottom:0;
	background-color:#fff;
	z-index:222;
    overflow-x: hidden;
    overflow-y: scroll;
}
.tps {
	top:0;
}
.xb1 {
	display:none;
}
.tach .tc_top {
	padding:.51rem .55rem;
	font-weight:500;
	color:rgba(137,137,137,1);
	overflow:hidden;
	background:rgba(244,244,244,1);
}
.tach .tc_top .p_l {
	font-size:.63rem;
	font-weight:500;
}
.tach .tc_top .p_r {
	font-size:.59rem;
}
.tc_bottom {
	display:none;
}
.tc_bottom li {
	border-bottom:1px solid rgba(240,240,240,1);
	padding:.85rem .73rem;
	width:100%;
   font-weight:500;
   color:rgba(51,51,51,1);
   font-size:.76rem;
   overflow:hidden;
}
.tc_bottom li .p_lir {
	display:none;
}
.tc_bottom li.active {
	color:rgba(24,144,255,1);
}
.tc_bottom li.active .p_lir {
	display:block;
}
.tc_bottom li.active .p_lir span {
	display:inline-block;
	width:.24rem;
	height:.43rem;
   background-image:url("../image/common/sel.png");
   background-position:center 0;
   background-repeat:no-repeat;
   background-size:100%;
}
.c3,
.c_p,
.c2,
.c1 {
	display:none;
}
.m_s::-webkit-scrollbar{/*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）*/
      width:0px;
      height:0px;
  }
.m_s::-webkit-scrollbar-button{/*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
    display: none;
  }
.m_s::-webkit-scrollbar-track{/*外层轨道，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
    display:none
  }
.m_s::-webkit-scrollbar-track-piece{/*内层轨道，滚动条中间部分*/
      background:transparent;
  }
.m_s::-webkit-scrollbar-thumb{/*滚动条里面可以拖动的那部分*/
    background:transparent;
    border-radius:.08rem;
  }
.m_s::-webkit-scrollbar-corner {/*边角）*/
    background:transparent; 
  }
.m_s::-webkit-scrollbar-resizer  {/*定义右下角拖动块的样式*/
    background:transparent;
  }