.edge .edge_back {
    border-bottom: none;
}
.edge .edge_t .l_back a {
    margin-top: 0.35rem;
}
/*.service {*/
/*    margin-top: 2.11rem;*/
/*}*/
.ser1 img {
	vertical-align:bottom;
}
.ser2 {
	text-align: center;
	margin: 0 auto;
	padding-top:1.7rem;
}
.ser_h2 {
	font-size:.76rem;
	font-weight:500;
	color:rgba(51,51,51,1);
	line-height:1.2;
}
.p1 {
	width:1.27rem;
	height:0.085rem;
	background:rgba(23,144,251,1);
	border-radius:0.042rem;
	margin: .42rem auto;
}

.ser2 .p2 {
	font-size:.51rem;
	font-weight:400;
	color:rgba(119,119,119,1);
	line-height:1.6;
    text-align: justify;
    margin-bottom: .5rem;
        padding: 0 0.41rem;
}
.ser2_ul {
	overflow: hidden;
	margin-bottom:.93rem;
}
.ser2_ul li {
	width: 33.33%;
	float: left;
	border-right:1px solid rgba(230,230,227,1);
	height:1.95rem;
	text-align: center;
	margin: 0 auto;
	position: relative;
}
.ser2_ul li:last-child {
	border-right:none;
}
.ser2_ul li img {
	width:1.25rem;

}
.ser2_ul li:nth-child(1) img {
	width:1.17rem;

}
.ser2_ul li:nth-child(2) img {
	width:1.04rem;

}

.ser2_ul li .p3 {
	font-size:0.38rem;
	font-weight:300;
	color:rgba(153,153,153,1);
	line-height:1.2;
	margin-top:.2rem;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.ser3 {
	background-color: #F4F5F5;
	padding-top: 1.48rem;
	text-align: center;
	margin: 0 auto;
}
.ser3_ul {
	overflow: hidden;
}
.ser3_ul li {
	float:left;
	position:relative;
    width: 4.97rem;
    height: 6.08rem;
}
.ser3_ul li:nth-child(3n) {
	margin-right: 0;
}
.ser3_ul li .p2 {
	display: inline-block;
	position: absolute;

	right: 0;
	left: 0;
	bottom: .45rem;
	margin: auto;
	font-size:.51rem;
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:1.3;
}
.ser_btn1 {
	display: block;
	text-align: center;
	margin:0 auto;
	width:7.72rem;
	height:1.14rem;
	line-height:1.14rem;
	background:rgba(23,144,251,1);
	border-radius:0.57rem;
	font-size:0.42rem;
	font-weight:400;
	color:rgba(255,255,255,1);
	margin-top: 0.63rem;
	margin-bottom: 1.38rem;
}
.ser_btn1 img {
	width: 0.21rem;
	margin-left: .1rem;
}
.ser4 {
	background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/importNew/4_Backgroud.jpg);
    width: 100%;
    height: 14.25rem;
    margin: 0 auto;
    padding-top: 1.46rem;
}
.ser4_title .p2 {
	width:0.085rem;
	height:0.723rem;
	background:rgba(245,245,245,1);
	border-radius:0.042rem;
	float: left;
}
.ser4_title .p3 {
	float: left;
	font-size:0.76rem;
	font-weight:500;
	color:rgba(254,254,254,1);
	line-height:0.723rem;
	margin-left: 0.29rem;
}
.ser4_ul {
	overflow: hidden;
	margin-top: .63rem;
	margin-bottom: .63rem;
}
.ser4_ul li {
	float:left;
	width:7.23rem;
	height:8.08rem;
	border-radius:5px;
	background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 1.1rem;
}
.ser4_ul li:nth-child(1) {

    background-image:url(../image/importNew/4_image_1.png);
    margin-right: .4rem;
}
.ser4_ul li:nth-child(2) {

    background-image:url(../image/importNew/4_image_2.png);
}
.ser4_ul li .p2 {
	font-size:0.51rem;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:2;
}
.ser4_ul li .p2 span {
	font-size: .63rem;
	font-weight: bold;
}
.ser4 .ser_btn {
	display:block;
	text-align: center;
	margin: 0 auto;
	width:7rem;
	height:1.14rem;
	line-height:1.14rem;
	border:0.042rem solid rgba(255,255,255,1);
	border-radius:0.57rem;
	font-size:0.46rem;
	font-weight:400;
	color:rgba(255,255,255,1);

}
.ser5 {
	background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/importNew/5_Backgroud.jpg);
    width: 100%;
    height: 19.12rem;
    margin: 0 auto;
    padding-top: 1.46rem;
    text-align: center;
    position: relative;
}
.ser5 .p2 {
	font-size:.51rem;
	font-weight:400;
	color:rgba(119,119,119,1);
	line-height:.93rem;
	margin-top: .53rem;
	padding: 0 0.41rem;
}
.ser5 .ser5_div {
    position: absolute;
    bottom: 0.4rem;
    width: 7rem;
    height: 4rem;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 0.42rem 0px rgba(189,189,189,0.3);
    border-radius: 0.14rem;
    text-align: justify;
       padding: .31rem;
    overflow-y: scroll;
}
.ser5 .ser5_div span {
	font-size:.38rem;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:.75rem;
}
.ser6 {
	background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/importNew/6_Backgroud.jpg);
    width: 100%;
    height: 16.53rem;
    margin: 0 auto;
    padding-top: 1.74rem;
    text-align: center;
    position: relative;
    margin-top: .38rem;
}
.ser6_ul {
	overflow: hidden;
	margin-top: .8rem;
}
.ser6_ul li {
	width:23.7%;
	height: 4.6rem;
	background:rgba(255,255,255,1);
	box-shadow:0px 4px 8px 0px rgba(214,214,214,0.4);
	border-radius:0.106rem;
	margin-right: 0.21rem;
	margin-top: .21rem;
	float: left;
	text-align: center;
	position: relative;

}
.ser6_ul li:nth-child(4n) {
	margin-right: 0;
}
.ser6_ul li img {
	width: 1.48rem;

    margin-top: 1rem;
}
.ser6_ul li:nth-child(2) img {
	width: 1.59rem;
}
.ser6_ul li:nth-child(3) img {
	width: 2.04rem;
}
.ser6_ul li:nth-child(6) img {
	width: 1.68rem;
}
.ser6_ul li:nth-child(7) img {
	width: 1.25rem;
}
.ser6_ul li:nth-child(8) img {
	width: 1.89rem;
}
.ser6_ul li .p2 {
	font-size:0.51rem;
	font-weight:500;
	color:rgba(51,51,51,1);
	line-height:1.2;
    position: absolute;
    top: 2.9rem;
    left: 0;
    right: 0;
    margin: auto;
}
.ser6 .ser_btn1 {
	margin-top:1rem;
}
.ser7 {
	margin: 0 auto;
	text-align: center;
	padding-top: 1.48rem;
	padding-bottom: 0.74rem;
}
.ser7_ul {
	text-align: left;
	margin-top: 0.85rem;
}
.ser7_ul li {
	width: 100%;
	overflow: hidden;
	margin-bottom: 1.06rem;
	    padding-left: 1.4rem;
}
.ser7_ul li img {
	float: left;
	width: 2.12rem;
}
.ser7_ul li .ser7_ul_li {
	float: left;
	margin-left: 0.4rem;

}
.ser7_ul li .ser7_ul_li h2 {
	font-size:0.8rem;
	font-family:DIN Alternate;
	font-weight:bold;
	color:rgba(51,51,51,1);
	line-height:1.1;
	margin-bottom: 0.4rem;
}
.ser7_ul li .ser7_ul_li h2 span {
	font-size:0.63rem;
	font-family:PingFang SC;
	margin-left: 0.34rem;
	    position: relative;
    bottom: 0.1rem;
}
.ser7_ul li .ser7_ul_li .p2 {
	font-size:0.51rem;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:1.2;
}
.ser8 {
	width:100%;
	background:rgba(80,80,80,1);
    text-align: center;
    margin: 0 auto;
    padding-top: 1.48rem;

}
.ser8_title {
	overflow: hidden;
}
.ser8_title .p2 {
	width:0.085rem;
	height:0.72rem;
	background:rgba(245,245,245,1);
	border-radius:0.042rem;
	float: left;
    margin-top: 0.1rem;
}
.ser8_title .p3 {
	font-size:.76rem;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(254,254,254,1);
	line-height:1.1;
	float: left;
	margin-left: 0.29rem;
}
.ser8_ul {
	text-align: left;
	margin-top: 0.6rem;
	margin-bottom: 1.04rem;
	overflow: hidden;
}
.ser8_ul li {
	float: left;
	width:4.72rem;
	height:4.68rem;
	background:rgba(255,255,255,1);
	border-radius:5px;
	margin-right:0.38rem;
	margin-top: 0.38rem;
	background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;

}
.ser8_ul li:nth-child(3n) {
	margin-right: 0;
}
.ser8_ul li:nth-child(1) {
	 background-image:url(../image/importNew/8_image_1_dhl.png);
}
.ser8_ul li:nth-child(2) {
	 background-image:url(../image/importNew/8_image_2_fedex.png);
}
.ser8_ul li:nth-child(3) {
	 background-image:url(../image/importNew/8_image_3_ups.png);
}
.ser8_ul li:nth-child(4) {
	 background-image:url(../image/importNew/8_image_4_beijing.png);
}
.ser8_ul li:nth-child(5) {
	 background-image:url(../image/importNew/8_image_5_tianjin.png);
}
.ser8_ul li:nth-child(6) {
	 background-image:url(../image/importNew/8_image_6_nanjing.png);
}
.ser8_ul li:nth-child(7) {
	 background-image:url(../image/importNew/8_image_7_ningbo.png);
}
.ser8_ul li:nth-child(8) {
	 background-image:url(../image/importNew/8_image_8_shanghai.png);
}
.ser8_ul li:nth-child(9) {
	 background-image:url(../image/importNew/8_image_9_guangzhou.png);
}
.ser8_ul li:nth-child(10) {
	 background-image:url(../image/importNew/8_image_10_shenzhen.png);
}
.ser8_ul li:nth-child(11) {
	 background-image:url(../image/importNew/8_image_11_xianggang.png);
}
.ser8_ul li:nth-child(12) {
	 background-image:url(../image/importNew/8_image_12_wuhang.png);
}
.ser8_ul li:nth-child(13) {
	 background-image:url(../image/importNew/8_image_13_chongqing.png);
}
.ser8_ul li:nth-child(14) {
	 background-image:url(../image/importNew/8_image_14_foshan.png);
}
.ser8_ul li:nth-child(15) {
	 background-image:url(../image/importNew/8_image_15_miansha.png);
}
.ser8_ul li:nth-child(16) {
	 background-image:url(../image/importNew/8_image_9_guangzhou.png);
}
.ser8_ul li .ser8_li_a {
	display: block;
	width: 100%;
	height: 100%;
}
.ser8_ul li .ser8_li_a .p2 {
	font-size:0.42rem;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(51,51,51,1);
	line-height:1.5;
	    margin-top: .25rem;
    padding-left: .44rem;
    padding-right: .21rem;
        position: relative;
    top: 3.57rem;

}
.ser8_ul li .ser8_li_a .p2 img {
	float: right;
	width: 0.44rem;
}
.ser8 .ser_btn {
	display: block;
	text-align: center;
	margin: 0 auto;
	width:7rem;
	height:1.14rem;
	border:0.042rem solid rgba(255,255,255,1);
	border-radius:0.57rem;
	font-size:0.46rem;
	font-family:PingFang SC;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:1.1rem;
	margin-bottom: 1.68rem;
}
.ser9 {
	width:100%;
	background:rgba(18,165,237,1);
	text-align: center;
	margin: 0 auto;
	padding-top: 1.49rem;
	padding-bottom: 1.48rem;

}
.ser9 .ser_h2 {
	color:rgba(255,255,255,1);
}
.ser9 .p1 {
	background-color: rgba(255,255,255,1);
}
.ser9_main {
	width: 100%;
	height: 8.48rem;
	position: relative;
}
.ser9_main_txt {
    position: absolute;
    top: 0.3rem;
    width: 8.42rem;
    height: 7.57rem;
    padding-top: 0.78rem;
    padding-left: 0.42rem;
    padding-right: 0.42rem;
    text-align: left;
    overflow-y: scroll;
}
.top1 {
	right: 0;
}
.ser9_main_txt  h2 {
	font-size:0.51rem;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(51,51,51,1);
	line-height:1.2;
}
.ser9_main_txt .p2 {
	font-size:0.38rem;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(51,51,51,1);
	line-height:1.2;
	margin: 0.21rem 0;
}
.ser9_main_txt .p3 {
	font-size:0.38rem;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(153,153,153,1);
	line-height:0.63rem;
}
.ser10 {
	background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/importNew/10_Backgroud.jpg);
    width: 100%;
    height:13.4rem;
    margin: 0 auto;
    padding-top: 1.45rem;
    text-align: center;
    position: relative;
}
.ser10 .p2 {
	font-size:0.42rem;
	font-weight:500;
	color:rgba(51,51,51,1);
	line-height:0.63rem;
	overflow: hidden;
	margin-bottom: 0.31rem;
	text-align: left;
	    width:90%;
}
.ser10 .p2 img {
	float: left;
	width: 0.44rem;
    margin-top: 0;
}
.ser10 .p2 span {
	    display: block;
    float: left;
    margin-left: 0.16rem;
    width: 93%;
    line-height: 1.2;
}
.ser10 .p3 {
	text-align: left;
	font-size:0.42rem;
	font-weight:500;
	color:rgba(51,51,51,1);
	line-height:0.63rem;
	    margin-top: 1.2rem;
	    margin-bottom: 0.42rem;
}
.ser10 .p4 {
	text-align: left;
	font-size:0.38rem;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:0.55rem;
	    overflow: hidden;
    width: 47%;
    margin-bottom: 0.6rem;
}
.ser10 .p4s {
	width: 60%;
}
.ser10 .p4 span {
	float:left;
}
.ser10 .p4 .span2 {
	    width: 87%;
	    line-height: 1.3;
}
.ser10 .ser_btn {
	display: block;

	text-align: center;
	width:4.72rem;
	height:1.04rem;
	background:rgba(23,144,251,1);
	border-radius:0.53rem;
	font-size:0.42rem;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:1.04rem;
}
.ser11 {
	background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/importNew/11_Backgroud.jpg);
    width: 100%;
    height:10.76rem;
    margin: 0 auto;
    padding-top: 1.74rem;
    text-align: center;
    position: relative;
}
.ser11 h2 {
	font-size:1.02rem;
	font-family:Alibaba PuHuiTi;
	font-weight:500;
	color:rgba(255,255,255,1);
	line-height:1.2;
	margin-bottom: 0.42rem;
}
.ser11 .p2 {
	font-size:0.51rem;
	font-family:Alibaba PuHuiTi;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:0.68rem;
}
.ser11 .ser_btn {
	display: block;
	text-align: center;

	width:8.29rem;
	height:1.36rem;
	background:rgba(255,255,255,1);
	border-radius:0.1rem;
	font-size:0.63rem;
	font-family:Alibaba PuHuiTi;
	font-weight:400;
	color:rgba(26,223,224,1);
	line-height:1.36rem;
	margin: 0.42rem auto;
}
.ser11 .p3 {
	font-size:0.63rem;
	font-family:Alibaba PuHuiTi;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:1.2;
}
.ser11 .p3 span {
	font-size:0.76rem;
	font-weight:bold;
}
.ser12 {
	background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/importNew/12_Backgroud.jpg);
    width: 100%;
    height:16.17rem;
    margin: 0 auto;
    padding-top: 1.74rem;
    text-align: center;
    position: relative;
}
.ser12 h2 {
	font-size:0.76rem;
	font-family:Source Han Sans CN;
	font-weight:bold;
	color:rgba(157,87,4,1);
	line-height:1.2;
}
.ser12 .p2 {
	font-size:0.51rem;
	font-family:Source Han Sans CN;
	font-weight:400;
	color:rgba(157,87,4,1);
	line-height:0.85rem;
	margin-top: 0.68rem;
	margin-bottom: 0.82rem;
}
.ser12 .ser_btn {
	display: block;
	margin: 0 auto;
	text-align: center;
	width:4.72rem;
	height:1.17rem;
	background:rgba(206,41,45,1);
	border-radius:0.59rem;
	font-size:0.42rem;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
	line-height:1.17rem;
}
