.slideBox {
	width: 100% ;
	position: relative;
}

.slideBox .banner_imgs {
	width: 100% ;
	height: 7.87rem ;
}
.slideBox .banner_imgs .b_item {
	/* width: 100% ;
	height: 7.87rem; */
}
.slideBox .banner_imgs .b_item img {
	width: 100%;
}

.swiper-pagination-bullet {
	width:.26rem;
	height:.26rem;
	border:2px solid #fff;
	border-radius:50%;
	margin-right: .21rem;
	opacity: 1;
	background-color: transparent;
}
.num_control span:last-child {
	margin-right: 0;
}
.swiper-pagination-bullet-active {
	border-color: #1890FF;
	background-color: transparent;
}
.new_plain {
	text-align: center;
	color: #333;
}
.new_plain .h3 {
	padding-top: .6rem;
	padding-bottom: .38rem;
}
.new_plain .new_plain_m {
	width: 15rem;
	height: 2.12rem;
	box-shadow:0px .08rem .4rem rgba(24,144,255,0.24);
    border-radius:1.06rem;
    margin: 0 auto;
    padding-top: .36rem;

}
.new_plain .new_plain_m .ritem {
    border-right: 1px solid #E6E6E6;
    height: 1.42rem;
    overflow: hidden;
}
.new_plain .new_plain_m .ritem:last-child {
	border-right: none;
}
.new_plain .new_plain_m .intro_1 {
    width: 25%;
}
.new_plain .new_plain_m .intro_2 {
    width: 32%;
}
.new_plain .new_plain_m .intro_3 {
    width: 39%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.new_plain .new_plain_m .ritem .hs1 {
	color: #DD4614;
	line-height: 1.2;
}
.new_plain .new_plain_m .ritem .hs2 {
	color: #F19300;
	line-height: 1.2;
}
.new_plain .new_plain_m .ritem .hs3 {
	color: #334CB0;
	line-height: 1.2;

}
.new_plain .new_plain_m .ritem p {
	color: #888888;
	font-size: .42rem;
	line-height: 1.1;
}
.new_plain_tip {
	text-align: center;
	padding-bottom:.9rem;
}
.new_plain_tip .plain_item {
    width: 20%;
    height: 2.7rem;
    color: #222;
	font-size: 0.455rem;
	margin-top: .74rem;
	/* margin-right: 1rem; */
}
.new_plain_tip .plain_item img {
	width: 1.83rem;
}
.notice {
	margin-top: .4rem;
	margin-bottom: .4rem;
	padding-top: .19rem;
	height: 1.14rem;
}
.notice .notice_img {
	width: 2.36rem;
	height: 100%;
	margin-top: .14rem;
}
.notice .notice_img img {
	width: 100%;
	vertical-align: top;
}
.notice .notice_info {
	width: 10.72rem;
	height: .78rem;
	line-height: .78rem;
	padding-left: .3rem;
	margin-left: .3rem;
	margin-right: .38rem;
	padding-top: .14rem;
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
}
.notice .notice_info .left_img {
	width: 1.1rem;
	height: 100%
}
.notice .notice_info .left_img img {
	width: 100%;
	vertical-align: top;
}
.notice .notice_info .notice_info_d {
    width: 8.55rem;
    height: .54rem;
    line-height: .54rem;
    overflow: hidden;
    margin-left: .25rem;
    font-size: .43rem;
}
.notice .notice_info .notice_info_d li {
    height: .54rem;
    line-height: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice .notice_info .info_a {
	color: #313131;
}
.notice .notice_more {
    /* padding-top: .05rem; */
	font-size: .43rem;
	color: #333;
	line-height:.8rem;
}
.notice .notice_more a {
	vertical-align:middle;
}
.export {
	padding-top: .5rem;
	width: 100%;
	padding-bottom:.5rem;
}
 .p_line {
	width: .17rem;
	height: .6rem;
	border-radius: .09rem;
	background-color: #1890FF;
	margin-right: .26rem;
	margin-top: .06rem;
}
.p_f {
	font-size: .68rem;
	color: #333;
	line-height: 1;
	font-weight: 600;
}
.p_div {
	color: #666;
	font-size: .47rem;
}
.p_a {

}
.p_a img {
	width: .23rem;
}
.export .export_c {
	margin-top: .53rem;
}
.export_c_de {
	position: relative;
	width: 100%;
}
.export_c_de img {
	width: 100%;
	vertical-align: bottom;
}
.export_c_de .e_detail {
	position: absolute;
	top:1.38rem;
	left: .64rem;
}
.e_detail .h1 {
	color: #333;
}
.e_detail .h1 > span {
	font-weight: 600;
	margin-left: .3rem;
}
.ps {
	color: rgba(102, 102, 102, 1);
	font-size: .47rem;
	margin-top: .05rem;
}
.export .export_c .export_ul li {
    position: relative;
    width: 7.35rem;
    height: 4.53rem;
    margin-right: .23rem;
    margin-top: .21rem;
}
.export .export_c .export_ul li:nth-child(2n) {
	margin-right: 0;
}
.export .export_c .export_ul li img {
	width: 100%;
}

.export .export_ul li .u_detail {
	position: absolute;
	top: .87rem;
	left: .61rem;
}
.ps1 {
	color: rgba(51, 51, 51, 1);
	font-size: .55rem;
	font-weight: 600;
}
.export .export_b {
	position: relative;
	margin-top: .51rem;
}
.export .export_b img {
	width: 100%;
	vertical-align: bottom;
}
.parter,
.news,
.discount,
.self,
.pay,
.import {
	margin-top: .4rem;
	padding-top: .5rem;
	padding-bottom:.5rem;
}
.import .import_b {
 	margin-top: .53rem;
 }
 .import .im_ul {
 	margin-top: .21rem;
 	margin-bottom: .53rem;
 	overflow: hidden;
 }
 .import .im_ul li {
	position: relative;
	width: 4.83rem;
	height: 6.38rem;
	text-align: center;
	margin-right: .21rem;
 }
.import .im_ul li:last-child {
	margin-right: 0;
}
.import .im_ul li .i_detail {
	position: absolute;
	top: .8rem;
	left: 0;
	width: 100%;
}
.import .im_ul li .i_detail .ps {
	font-size: .43rem;
}
.pay .pay_ul {
	overflow: hidden;
	margin-top: .53rem;
	margin-bottom: .53rem;
}
.pay .pay_ul li {
	width: 7.36rem;
	height: 8.94rem;
	position: relative;
}
.pay .pay_ul li:last-child {
	margin-left: .19rem;
}
.pay .pay_ul li .pay_d {
	position: absolute;
	top: .97rem;
	left: .63rem;
    color: rgba(51, 51, 51, 1);
}
.pay .pay_ul li .pay_d .h1 {
	font-weight: 600;
}
.pay .pay_ul li .pay_d .p_y {
	font-size: .51rem;
}
.pay .pay_ul li .pay_d .p_y > b {
	font-weight: 600;
	font-size: .63rem;
}
.pay .pay_b img {
	width: 100%;
	vertical-align: bottom;
}
.self .self_ul {
    overflow: hidden;
    margin-top: .53rem;
    text-align: center;
    padding-bottom: .6rem;
}
.self .self_ul li {
	position: relative;
	width: 4.83rem;
	height: 9.36rem;
	margin-right: .21rem;
	text-align: center;
}
.self .self_ul li:last-child {
	margin-right: 0;
}
.self .self_ul li .self_d {
	position: absolute;
	top: 1.34rem;
	width: 100%;
}
.self .self_ul li .self_d .h1 {
	font-weight: 600;
}
.self .self_ul li.self_li2 .self_d {
	top: 5.91rem;
}
.discount .dis_b {
	overflow: hidden;
    margin-top: .53rem;
    margin-bottom: .53rem;
}
.discount .dis_b .dis_b_t {
	width: 7.36rem;
	height: 7.36rem;
	margin-right: .21rem;
}
.discount .dis_b .dis_b_b .dis_ul li {
	width: 7.36rem;
	height: 3.57rem;
	margin-bottom: .21rem;
}
.discount .dis_b .dis_b_b .dis_ul li:last-child {
	margin-bottom: 0;
}
.discount_b img {
	vertical-align: bottom;
}
.discount_b {
	padding-bottom: .48rem;
}
.videos .sp_v {
	width: 14.94rem;
	height: 7.66rem;
	margin-top: .53rem;
	margin-bottom: .59rem;
}
.video-js .vjs-big-play-button {
    line-height: 2em;
    height: 2em;
    width: 2em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border-radius: 100%;
    border: none;
    background-color: rgba(43,51,63,.8);
}
.videos .sp_b {
	margin-bottom: .59rem;
}
.cooperate .coo {
	width: 14.94rem;
	height: 7.13rem;
	position: relative;
	text-align: center;
	margin-top: .53rem;
}
.cooperate .coo .coo_d {
	position: absolute;
	top: .72rem;
	width: 100%;
}

.cooperate .coo_b {
	margin-bottom: .7rem;
}
.cooperate .coo_b .as {
	background-color: rgba(58, 178, 140, 1);
}
.service {
	margin-top: .4rem;
	text-align: center;
}
.service .h1 {
	margin-top: .63rem;
	margin-bottom: .63rem;
}
.service .h1 strong {
	font-size: 1.02rem;
	color: rgba(24, 144, 255, 1);
	font-weight: 600;
}
.service img {
	width: 13.6rem;
}
.service .h1 span {
	color: rgba(24, 144, 255, 1);
}
.service .as {
	margin-top: 1.15rem;
	background-color: rgb(24, 144, 255, 1);
	width: 8.52rem;
	height: 1.27rem;
	line-height: 1.27rem;
	border-radius: .64rem;
	font-size: .63rem;
	letter-spacing: .1rem;
	margin-bottom: 1.23rem;
}
.news .news_ul {
	overflow: hidden;
	margin-top: .53rem;
}
.news .news_ul .news_li {
	border-top:1px solid rgba(230, 230, 230, 1);
	width: 100%;
	padding-top: .53rem;
	padding-bottom: .53rem;
	overflow: hidden;
}
.news .news_ul .news_li .news_img {
	width: 4.34rem;
	height: 2.34rem;
	margin-right: .4rem;
}
.news .news_ul .news_li .news_t {
	width: 10.06rem;
	height: 2.34rem;
	position: relative;
}
.n_p1 {
	font-size: .6rem;
	color: rgba(68, 68, 68, 1);
	line-height: 1.2;
	font-weight: 500;
}
.news .news_ul .news_li2 {
    overflow: hidden;
}
.news .news_ul .news_li2  .n_p1 {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .news_ul .news_li .news_t .n_p2 {
	position: absolute;
	bottom: 0;
	color: rgba(102,102,102,1);
	font-size: .51rem;
	overflow: hidden;
}
.n_p4 {
	color: rgba(102,102,102,1);
	font-size: .51rem;
	margin-top: .21rem;
	font-weight: 400;
}
.parter {
	margin-top: .46rem;
}
.parter .parts {
  overflow: hidden;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}
.parter .part_1 .part_c {
  padding-bottom: .53rem;
}
.parter .part_1 .part_c.active {
  border-bottom: 3px solid rgba(24, 144, 255, 1);
}
.parter .part_1 .part_c:last-child {
  margin-left: 1.13rem;
}
.parter .part_1 .h1 {
  font-weight: 600;
}
.parter .part_1 .part_i {
  display: none;
}
.parter .part_1 .part_i.active {
  display: block;
}
.video-js ,
.vjs-poster {
    background-color: transparent;
}
