.self {
	margin-top: 2.1rem;
	background:#fff;
}
.self1 {
	width:100%;
	height: 6.8rem;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/selfService/banner_bj.png);
}
.self1 img {
	width:4.12rem;
	margin-left:.72rem;
	margin-top:4.19rem;
}
.self2 {
	width:100%;
	height: 9.12rem;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/selfService/P-1.png);
    padding-top:1.65rem;
}
.self2_c1 {
	text-align:right;
	margin-left:0.6rem;
}
.slef2_img img {
	width:.89rem;
}
.self2_h2 {
	font-size:.68rem;
	font-weight:300;
	color:rgba(51,51,51,1);
	line-height:.95rem;
}
.self2_p {
	font-size:.48rem;
	font-weight:300;
	color:rgba(119,119,119,1);
	line-height:.76rem;
	margin-top:.46rem;
}
.self2_c2 img {
	width:9.82rem;
}
.self3 {
	width:100%;
	height: 9.12rem;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/selfService/P-2.png);
    text-align:left;
    padding-top: 1rem;
    padding-left: 0.25rem;
}
.self3_c1 img {
	width:8.63rem;
}
.self3_c2 {
    padding-top: 1rem;
    margin-left: 0.1rem;
}
.slef3_img img {
	
	width:.93rem;
}
.self4 {
	width:100%;
	height:14.76rem;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/selfService/P-3.png);
    text-align:center;
    position:relative;
}
.self4_h2 {
	font-size:.68rem;
	font-weight:300;
	color:rgba(51,51,51,1);
	display:inline-block;
	width:100%;
}
.self4_h2 img {
	width:.89rem;
    position: relative;
    top: 0.17rem;
}
.self4_p {
	font-size:.48rem;
	font-weight:300;
	color:rgba(119,119,119,1);
    margin-top: -0.6rem;
}
.self4_sp {
	display:inline-block;
	width:40px;
	height:2px;
	background:rgba(24,144,255,1);
	border-radius:1px;
	position: relative;
    top: -0.7rem;
}
.self5 {
	width:100%;
	height:8.34rem;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/selfService/P-4.png);
    text-align:center;
    position:relative;
    padding-top:1.06rem;
}
.self5 img {
	width:.65rem;
}
.self5_a {
	display:inline-block;
	width:4.57rem;
	height:.87rem;
	line-height:.87rem;
	background:rgba(210,72,70,1);
	border-radius:.44rem;
	font-size:.42rem;
	font-weight:400;
	color:rgba(254,254,254,1);
	
}
