.settle {
	background-color: rgba(253, 245, 236, 1);
    margin-top: 2.1rem;
}
.set1 {
	width:100%;
	height: 8.57rem;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/settlement/1banner_bj.jpg);
    text-align:center;
}
.set1 img {
	width:4.4rem;
	margin-top:5rem;
}
.set2_ul {
    margin-top: -1.38rem;
    overflow: hidden;
    margin-bottom: .2rem;
}
.set2_ul li {
	width:5.27rem;
	position:relative;
}
.set2_ul li:last-child {
	
}
.set2_b {
	position: absolute;
    top: 0.6rem;
    left: .7rem;
    text-align:center;
}
.set2_b .set2_p1 {
	font-size:.51rem;
	font-weight:400;
	color:rgba(51,51,51,1);
}
.set2_b .set2_p1 span {
	margin: 0 .02rem 0 .11rem;
}
.set2 b {
	width: .21rem;
    height: 1px;
    background: rgba(51,51,51,1);
    display: inline-block;
    position: relative;
    top: -0.2rem;
}
.set2_b .set2_p2 {
	font-size:1.27rem;
	font-weight:400;
	color:rgba(236,67,50,1);
	line-height:1.2;
}
.set2_b .set2_p2 span {
	font-size:.51rem;
	font-weight:400;
	color:rgba(236,67,50,1);
}
.set2_b .set2_p3 {
	font-size:.46rem;
	font-weight:400;
	color:rgba(102,102,102,1);
}
.set2_img {
	width: 3.14rem;
    margin-bottom: .15rem;
}
.set3 {
	width:100%;
	height:11.89rem;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/settlement/3p-1.png);
    text-align:center;
}
.set3_sec1 {
	line-height:1;
	padding-top: 0.9rem;
}
.set3_sec1 .set3_img {
	width:.85rem;
}
.set3_sec1 .set3_sp1 {
	font-size:.55rem;
	font-weight:400;
	color:rgba(255,76,54,1);
}
.set3_sec1 b {
	display:inline-block;
	width:1px;
	height:.51rem;
	background:rgba(255,76,54,1);
    position: relative;
    top: 0;
}
.set3_sec1 .set3_sp2 {
	font-size:.68rem;
	font-weight:500;
	color:rgba(255,76,54,1);
}
.set3_sec1 span {
    position: relative;
    top: -0.1rem;
}
.set3_sec2 {
	position:relative;
	text-align:center;
	margin-top:.4rem;
}
.set3_sec2_img {
	width:15.95rem;
}
.set3_sec2_b {
    position: absolute;
    text-align: left;
    top: 1.23rem;
    left: 1.02rem;
}
.set3_sec2_p1 {
	color:rgba(102, 102, 102, 1);
	font-size:.51rem;
	font-weight:300;
}
.set3_sec2_p2{
   color: rgba(51, 51, 51, 1);
   font-size: .59rem;
   font-weight:300;
}
.set3_sec2_p2 span {
	color:rgba(225, 70, 55, 1);
}
.set3_sec2_img1 {
	width:3.36rem;
	
}
.set4 {
	text-align:center;
}
.set4_ul {
	margin-top:1.02rem;
}
.set4_ul li {
	position:relative;
	width:5.27rem;
}
.set4_b {
    position: absolute;
    top: .7rem;
    left: .43rem;
    text-align: center;
}
.set4_b:nth-child(1) {
	left:0;
}
.set4_p1 {
    font-size: .53rem;
    font-weight: 400;
    /* color: rgba(51,51,51,1); */
    color: rgba(225, 70, 55, 1);
    line-height: 1.8;
}
.set4_p2 {
	font-size:.4rem;
	font-weight:300;
	color:rgba(119,119,119,1);
}
.set4_p2 span {
	color: rgba(225, 70, 55, 1);
}
.set4_sec2 img {
	width:5.97rem;
	margin-bottom:.42rem;
}
.set5 {
	width:100%;
	height:24.04rem;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/settlement/5p-2.png);
    text-align:center;
}
.set5_sec {
	position:relative;
	top: 1.25rem;
	margin-bottom: -0.3rem;
}
.set5_img1 {
	width:16.04rem;
}
.set5_sec_d {
    position: absolute;
    top: .6rem;
    left: 1.1rem;
}
.set5_sec_d .set3_sec1 {
	padding-top:0;
	margin-bottom:.3rem;
}
.set5_ul {
    
	
}
.set5_ul li {
    overflow: hidden;
    text-align: left;
    line-height: 1.7;
    padding-left: .2rem;
    padding-bottom: .1rem;
}
.set5_top {
    position: relative;
    top: .11rem;
}
.set5_tp {
    position: absolute;
    font-size: .36rem;
    font-weight: 400;
    color: rgba(255,255,255,1);
    top: -0.03rem;
    left: .17rem;
}
.set5_line {
    width: .55rem;
    height: .55rem;
    background: rgba(237,83,0,1);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.set5_txt {
    font-size: .46rem;
    font-weight: 400;
    color: rgba(102,102,102,1);
    margin-left: .2rem;
}
.set5_txt p > span {
	color:rgba(225, 70, 55, 1);
}
.set5_img2 {
	width:5.9rem;
	margin-top: 1rem;
}
.set5_sec2_p {
	font-size:.42rem;
	font-weight:400;
	color:rgba(254,254,254,1);
	margin-top:-0.5rem;
}
.set5_sec2_p span {
	color:rgba(213, 233, 47, 1);
}
.set6 {
	text-align:center;
	overflow:hidden;
}
.set6 .set3_sec1 {
    margin-bottom: .6rem;
}
.set6_p1 {
	font-size:.51rem;
	font-weight:300;
	color:rgba(119,119,119,1);
	margin-bottom:.48rem;
}
.set6_img {
	width:15.57rem;
}
.set6_img1 {
	width:5.97rem;
}
.set7 {
	width:100%;
	height:12.23rem;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url(../image/settlement/7liuc_bj.png);
    text-align:center;
}
.set7 .p1 {
    font-size: .42rem;
    font-weight: 400;
    color: rgba(254,254,254,1);
}
.set7 .p1 span {
	color: #d5e332;
}
.set7_sec1 {
	padding-top: .3rem;
}
.set7_img1,
.set7_img2 {
	width:.93rem;
}
.set7_sp1 {
    font-size: .68rem;
    font-weight: 500;
    color: rgba(255,255,255,1);
    position: relative;
    top: -0.06rem;
}
.set7_img3 {
    width: 15.02rem;
    margin-top: .3rem;
}
.set7_img4 {
    width: 6.82rem;
    margin-top: .4rem;
}